export(MixRF)
export(MixRF.impute)
import(doParallel)
import(foreach)
import(lme4)
import(parallel)
import(randomForest)
importFrom(stats,as.formula)
importFrom(stats,coef)
importFrom(stats,cor)
importFrom(stats,lm)
importFrom(stats,logLik)
importFrom(stats,na.exclude)
importFrom(stats,predict)
